@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.sortable-ghost {
  @apply !bg-white opacity-20;
}

.sortable-drag {
  opacity: 100%;
  @apply bg-neutral-100;
}

::-webkit-scrollbar {
  display: none;
}
