@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.sortable-ghost {
  cursor: inherit;
  @apply !bg-white opacity-20;
}

.sortable-ghost * {
  cursor: inherit;
}

::-webkit-scrollbar {
  display: none;
}
